.row {
    display: flex;
    flex-wrap: wrap;
}

.col-md-6 {
    flex: 1 0 50%;
}

.window {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    height: 200px;
    overflow-y: scroll;
}

.terminal {
    background-color: #2d2d2d;
    color: #fff;
    font-family: monospace;
    font-size: 12px;
    line-height: 1.4;
    padding: 10px;
    border-radius: 4px;
    overflow: auto;
    height: 300px;
}
.terminal:before {
    content: "$";
    margin-right: 10px;
}
.terminal-command {
    color: #50fa7b;
}
.terminal-error {
    color: #fc0320;
}
