{% extends "base.html" %}
{% block app_content %}
    <div class="container">
        <h1 class="display-4">About Nabla</h1>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <img src="{{ url_for( 'static', filename='img/nabla.png') }}" alt="Nabla Logo" class="img-fluid rounded">
            </div>
            <div class="col-md-6">
                <h2>Overview</h2>
                <p>Nabla is an intuitive user interface for OpenFoam, designed to showcase the potential of a fully functional UI for running and managing OpenFoam simulations. With Nabla, users can perform a wide range of operations, including:</p>
                <ul>
                    <li>Storing simulations in a database</li>
                    <li>Creating and saving custom simulation dictionaries in a database</li>
                    <li>Validating dictionaries for OpenFoam compatibility</li>
                    <li>Executing simulations</li>
                    <li>Preserving and managing simulation results</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
{% endblock %}

