{% extends "base.html" %}

{% block app_content %}
    <div class="row">
        <div class="col-md-6 window">
            <h2>Current simulations</h2>
            {% if sim_output %}
        <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#terminal-collapse">
            Terminal output 
        </button>
              <div id="terminal-collapse" class="collapse">
                <div class="terminal">
                    <div><span class="terminal-command"> {{ sim_output.command|last }} </span> </div>
                            {% for output in sim_output.output %}
                                <div> {{ output}}  </div>
                            {% endfor %}  
                        {% if sim_output.error_code%}
                            {% for error in sim_output.error_code%}
                                <div><span class="terminal-error"> {{ error}} </span> </div>
                        {% endfor %}
                        {% endif %}
                </div>
            </div>
                {% else %}
                <p> There are no simulations running  at the moment</p>
                {% endif %}
            </div>

        <div class="col-md-6 window">
            <h2>Past simulations</h2>
            {% if sim_hist %}
            <table>
                <thead>
                  <tr>
                    <th>Simulatio name</th>
                    <th>Date</th>
                  </tr>
                </thead>
                <tbody>
                  {% for sims in sim_hist %}
                    <tr>
                      <td>{{ sims.fname }}</td>
                      <td>{{ sims.run_date.strftime('%Y-%m-%d') }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            {% else %}
            <p> No simulation story </p>
            {% endif%}
        </div>
    </div>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

