{% extends "base.html" %}

  </head>
{% block content %}
<head>
    <title>Flask app</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Hi, {{ current_user.username }}!</h1>
    <h2>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
     <ul class="flashes">
        {% for message in messages %}
         <div class="message_flash">{{ message }}</div>
        {% endfor %}
    {%endif%}
    {%endwith%}
    </h2>
</body>
{% endblock %}
