{% extends "base.html" %}

{% block app_content %}
{% with messages = get_flashed_messages(category_filter=['error']) %}
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-danger" role="alert">{{ message }}</div>
    {% endfor %}
{% endif %}
{% endwith %}
<div class="container-fluid">
    <div class="row">
        <div id="directory_tree" class="col-md-6">
            <h2>{{sim.fname}} </h2>
            <div id="directory_script">
            </div>
        </div>
        <div id="sim_actions" class="col-md-6">
            <div class="mb-4"></div>
            <h2>Simulation controls</h2>
            <form action="{{ url_for('run_sim') }}" method="post">
                <input type="hidden" name="sim_id" value="{{ sim.id }}">
                <button type="submit" class="btn btn-primary">Start simulation</button>
            </form>
            <div id="button-container"></div>

            <div class="mb-4"></div>
            <h2>Simulation outputs</h2>
            {% if sim_output %}
            <div class="terminal">
                <div><span class="terminal-command">{{ sim_output.command|last }}</span></div>
                {% for output in sim_output.output %}
                <div>{{ output }}</div>
                {% endfor %}
                {% if sim_output.error_code %}
                {% for error in sim_output.error_code %}
                <div><span class="terminal-error">{{ error }}</span></div>
                {% endfor %}
                {% endif %}
            {% else %}
            No simulation running at the moment.
            {% endif %}
        </div>
    </div>
</div>
<script>
    function transformToJSTreeData(fileList) {
    let treeData = [];
    fileList.forEach(file => {
        let paths = file.pathdata.split('/');
        let currentPath = "";
        paths.forEach((segment, index) => {
            currentPath += (index === 0) ? segment : '/' + segment;
            if (index === paths.length - 1) {
                // This is a file
                treeData.push({
                    "id": currentPath,
                    "parent": (index === 0) ? "#" : currentPath.substring(0, currentPath.lastIndexOf('/')),
                    "text": segment,
                    "data": {
                        "url": "/edit_sim/" + file.id  // Generate URL using the file ID
                    }
                });
            } else {
                // This is a folder
                if (!treeData.some(node => node.id === currentPath)) {
                    treeData.push({
                        "id": currentPath,
                        "parent": (index === 0) ? "#" : currentPath.substring(0, currentPath.lastIndexOf('/')),
                        "text": segment
                    });
                }
            }
        });
    });
    return treeData;
}
    $(document).ready(function() {
    const fileList = {{ files|tojson|safe }};
    const dir_tree = transformToJSTreeData(fileList);

    $('#directory_script').jstree({
        'core': {
            'data': dir_tree
        }
    }).on('select_node.jstree', function (e, data) {
        const nodeUrl = data.node.data.url;
        
        if (nodeUrl) {
            window.location.href = nodeUrl;
        }
    });

    $('#directory_script').jstree('open_all');
});



</script>
{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/jstree_style.css')}}">
<script src="{{url_for('static',filename ='js/jstree.min.js')}}"></script>
{% endblock %}
