{% extends "base.html" %}

<!--
Hay que añadir:
    * Tabla para ver que diccionarios hay
    * Esa tabla tiene que tener un click para poder ver lo que pone dentro del diccionario de OF
    * Debes poder descargarte el diccionario
-->

<!-- Informacion del user -->
{% block app_content %}
    <h1>User: {{ user.username }}</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Descripion</th>
            </tr>
            <tbody>
                {% for file in files %}
                <tr>
                    <td>{{file.name}}</td>
                    <td>{{file.dict_class}}</td>
                    <td>{{file.description}}</td>
                    <td>{{file.id}}</td>
                    <td> 
                        <form action="{{ url_for('download_dict') }}" method="post">
                        <input type="hidden" name="id" value="{{ file.id }}">
                        <button type="submit">Download</button>
                        </form>
                    </td>
                </tr>
               {% endfor %}
            </tbody>
        </table>
    </body>

{% endblock %}
